.header {
    width: 100%;
    height: 75px;
    background: #101922;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: Opx 1px 10px rgba a(0, 0, 0, 0.4);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.logo {
    float: left;
    line-height: 75px;
}

.logo h1 {
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    cursor: default;
}

.menu {
    float: right;
    line-height: 75px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    line-height: normal;
    font-size: 14px;
    transition: all 500ms ease;
    border-bottom: 4px solid transparent;
}

/* efecto hover elementos menu nav */
.menu a:hover {
    color: #40de32;
    border-bottom: 4px solid #40de32;
}



#btn-menu{
  display: none;
}

.boton{
  float: right;
  display: none;
}

.boton label{
  color: #fff;
  background: #2a343e;
  padding: 5px;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;

}

@media screen and (min-width:320px) and (max-width:768px){
  .header{
    height:60px;
  }
  .logo, .boton{
    line-height: 60px;
  }
  .logo h1{
    font-size: 18px;
  }

  .menu{
    position: absolute;
    background: #234;
    width: 100%;
    height: 100vh;
    top: 60px;
    left: 0;
    transition: all .5s ease;
    transform: translateX(-100%);

  }
  #btn-menu:checked ~ .menu{
    transform: translateX(0%);

  }
  .menu a{
    display: block;
    margin-top: 10px;
  }
  .boton{
    display: block;
  }
}




















.separador {
    height: 90px;
    background-color: transparent;
}

/* fin del header */

footer {
    width:100%;
    background-color: #101922;
    padding: 20px;
    font-size: 14px;
    text-align: center
    
  }
  
  .footer-container {
    width: 100%;
    margin: 0 auto;
  }
  
  .footer-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .footer-container li {
    margin: 0 10px;
  }
  
  .footer-container a {
    color: #fff;
    text-decoration: none;
  }
  .footer-container p{
    color: #FFFFFF;
  }

  /* For screens smaller than 768px */
/* Para pantallas más pequeñas que 768px */
@media (max-width: 767px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  
  .footer-container ul {
    flex-direction: column; /* Agregamos flex-direction */
  }
  
  .footer-container li {
    margin: 10px 0;
    margin-bottom: 10px;
  }
}

.footer span {
  margin: 10px 30px;
}

/* Para pantallas de 768px en adelante */
@media (min-width: 768px) {
  .footer-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
  }
  
  .footer-container ul {
    flex-direction: row; /* Agregamos flex-direction */
  }
  
  .footer-container li {
    margin: 0 10px;
    margin-bottom: 0;
  }
}

/* Estilos generales del footer */
.footer {
  width: 100%;
  background-color: #101922;
  padding: 20px;
  font-size: 14px;
  text-align: center;
}

.footer-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-container a {
  color: #fff;
  text-decoration: none;
}

.footer-container p {
  color: #fff;
}

.footer span {
  margin: 0 30px;
}
